# BASIC PRE-PROCESSING - {"RED WINE QUALITY" DATASET}

## 1. Import Modules and Configuration Settings

In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

In [2]:
# PD Options

pd.set_option('display.min_rows', 5)
pd.set_option('display.max_rows', 25)
pd.set_option('display.precision', 4)

## 2. Import Dataset

In [3]:
data = pd.read_csv('winequality_red.csv')
df = data.copy()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [5]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## 3. Basic Data Pre-Processing After Data Assessment Process

In [6]:
print(f'Dataset shape before dropping duplicates : {df.shape} \n')

print(f'Dropping {df.duplicated().sum()} Duplicated Observations in the Dataset \n')
df.drop_duplicates(inplace=True)

print(f'Dataset shape after dropping duplicates : {df.shape}')

Dataset shape before dropping duplicates : (1599, 12)

Dropping 240 Duplicated Observations in the Dataset

Dataset shape after dropping duplicates : (1359, 12)

In [7]:
print(f'Indices before reset : \n {df.index.values.tolist()[:11]} \n')

print(f'Resetting the dataframe index to discard missing indices ... \n')
df = df.reset_index(drop=True)

print(f'Indices after reset : \n {df.index.values.tolist()[:11]}')

Indices before reset :
 [0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 12]

Resetting the dataframe index to discard missing indices ...

Indices after reset :
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 4. Saving the Processed Data to CSV File and PKL File

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1359 entries, 0 to 1358
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1359 non-null   float64
 1   volatile acidity      1359 non-null   float64
 2   citric acid           1359 non-null   float64
 3   residual sugar        1359 non-null   float64
 4   chlorides             1359 non-null   float64
 5   free sulfur dioxide   1359 non-null   float64
 6   total sulfur dioxide  1359 non-null   float64
 7   density               1359 non-null   float64
 8   pH                    1359 non-null   float64
 9   sulphates             1359 non-null   float64
 10  alcohol               1359 non-null   float64
 11  quality               1359 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 127.5 KB

In [9]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5

In [10]:
def train_test_split_CLF(fdf, target, ts):
    
    print(f'Separating X and y from dataframe ----------------------------------------------------------------------------- \n')
    X = fdf.drop(columns=[target])
    y = fdf[target]
 
    
    print(f'Creating Train and Test datasets ------------------------------------------------------------------------------ \n') 
    Xtrain, Xtest, ytrain, ytest = train_test_split(X,y, test_size=ts, random_state=46, stratify=y)   # test size in number of samples
        

    print(f'Creating Train and Test dataframes as outputs ----------------------------------------------------------------- \n')
    df_train = pd.concat([Xtrain,ytrain], axis=1)
   
    df_test = pd.concat([Xtest,ytest], axis=1)
    
    print(f'Data Splitting Done ..... \n')
    
    print(f'Shape of the Train dataset : {df_train.shape}')
    print(f'Shape of the Test dataset : {df_test.shape}')
        
    return df_train, df_test

In [11]:
train, test = train_test_split_CLF(df, 'quality', 100)

Separating X and y from dataframe -----------------------------------------------------------------------------

Creating Train and Test datasets ------------------------------------------------------------------------------

Creating Train and Test dataframes as outputs -----------------------------------------------------------------

Data Splitting Done .....

Shape of the Train dataset : (1259, 12)
Shape of the Test dataset : (100, 12)

In [12]:
def train_test_save_CSV_PKL(tr, te):
    tr.to_csv('wine_quality_PP_prod_train.csv', index=False)
    tr.to_pickle('wine_quality_PP_prod_train.pkl')
        
    te.to_csv('wine_quality_PP_prod_test.csv', index=False)
    te.to_pickle('wine_quality_PP_prod_test.pkl')
    
    print(f'Train and Test files created successfully ...')

In [13]:
train_test_save_CSV_PKL(train, test)

Train and Test files created successfully ...